<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Új kupon hozzáadása</h1>

    <form method="post">
        <label>
            Cím:
            <input type="text" name="title">
        </label><br>

        <label>
            Kedvezmény értéke(%):
            <input type="number" name="percentage">
        </label><br>

        <label>
            Kuponkód:
            <input type="text" name="code">
        </label><br>

        <% errors.forEach(item => { %>
            <p><%= item %></p>
        <% }); %>

        <input type="submit" value="Hozzáadás">
        <a href="/">Mégse</a>
    </form>
</body>
</html>
