<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Színházban felhasználható kuponok</h1>

    <table>
        <thead>
            <th>Cím</th>
            <th>Kedvezmény értéke(%)</th>
            <th>Kuponkód</th>
        </thead>
        <tbody>
            <% index.forEach( index => { %>
                <tr>
                    <td><%= index.title %></td>
                    <td><%= index.percentage %></td>
                    <td><%= index.code %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <a href="/form">Új kupon hozzáadása</a>
</body>
</html>
