<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src='main.js'></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Főoldal</a>
        <a class="navbar-brand" href="/form">Új kupon hozzáadása</a>
    </nav>

    <h1 class="text-center py-5">Színházban felhasználható kuponok</h1>

    <table class="table table-dark">
        <thead>
            <th>Cím</th>
            <th>Kedvezmény értéke(%)</th>
            <th>Kuponkód</th>
        </thead>
        <tbody>
            <% index.forEach( index => { %>
                <tr>
                    <td><%= index.title %></td>
                    <td><%= index.percentage %></td>
                    <td><%= index.code %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
